<header class="header">
  <div class="container header__logo-container">
    <a class="header__logo" href="/" mous-cover-link>
      <img class="header__logo-img" src="/assets/img/mouspong-logo.svg" alt="Mous Pong">
    </a>

    <%- include('./nav') -%>
  </div>
</header>