<header class="header">
  <div class="container header__logo-container">
    <a class="header__logo" href="/" mickoy-cover-link>
      <img class="header__logo-img" src="/assets/img/mickoy_logo.png" alt="Mickoy 1v1">
    </a>

    <%- include('./nav') -%>
  </div>
</header>