<div class="help">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Help!</h1>
      <p>To play a 1v1 game:</p>
      <ol>
        <li>Load up CS:GO</li>
        <li>Invite your opponent to your lobby</li>
        <li>Click 'Play'</li>
        <li>Pick 'Workshop Maps' from the dropdown</li>
        <li>Select a 1v1 map of your choosing</li>
        <li>Click 'GO'</li>
        <li>Once into the server, open console and run the mickoy_1v1 config by typing <mark>exec mickoy_1v1</mark>
          <ul>
            <li>* If you don't have the config, <a href="/assets/files/mickoy_1v1.cfg">download it here</a>. Place it inside your cfg folder <mark>Steam\steamapps\common\Counter-Strike Global Offensive\csgo\cfg</mark>.</li>
          </ul>
        </li>
        <li>Enjoy!</li>
      </ol>
    </div>
  </div>
</div>